form.signup,
form.login {
  margin-top: 250px;
}
body {
  background-image: url("../img/landing.jpg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
